* {
	font-family:		Arial;
}
body {
	padding:			32px;	
	max-width:			720px;
	margin:				auto;
}
pre {
	padding:			6px 28px 6px 28px;
	background-color:	#E8EEF7;
}
pre, pre *, code, code * {
	font-family:		Courier New, Courier;
	font-size:			10pt;
}
h1, h1 * {
	font-size:			24pt;	
}
p, td, th, li, .breadcrumbs {
	font-size:			10pt;
}
p, li {
	line-height:		140%;
}
table {
	border-collapse:	collapse;
	empty-cells:		show;
	margin:				8px 0 8px 0;
	background-color:	white;
}
th, td {
	border:				1px solid black;
	padding:			3px;
}
td {
	vertical-align:		top;
}
th {
	background-color:	#C3D9FF;
}
li {
	margin-top:			6px;
	margin-bottom:		6px; 
}

.example {
	padding:			6px 16px 6px 16px;
	border:				1px solid #C3D9FF;
	margin:				6px 0 28px 0;
	background-color:	#F5F9FD;
}
.example h3 {
	margin-top: 		8px;
	margin-bottom:		8px;
	font-size: 			12pt;
}

p.success {
	padding:			2px;
}
.success, .success * {
	background-color:	#afa !important;
}
.success pre {
	background-color:	#bbffbb;
}
.error,
.failure{
	background-color:	#ffb0b0;
	padding:			1px;
}
.error .expected,
.failure .expected {
	text-decoration: 	line-through;
	color:				#bb5050;
}
.ignored {
	text-decoration: 	line-through;
	background-color:	#f0f0f0;	
}

ins {
	text-decoration:	none;	
}

.exceptionMessage {
	background-color:	#fdd;
	font-family:		Courier New, Courier, Monospace;
	font-size:			10pt;
	display:			block;
	font-weight:		normal;
	padding:			4px;
	text-decoration:	none !important;
}
.stackTrace, .stackTrace * {
	font-weight:		normal;
}
.stackTrace {
	display:			none;
	padding:			1px 4px 4px 4px;
	background-color:	#fdd;
	border-top:			1px dotted black;
}
.stackTraceExceptionMessage {
	display:			block;
	font-family:		Courier New, Courier, Monospace;
	font-size:			8pt;
	white-space:		wrap;
	padding:			1px 0;
	white-space:		pre;
}
.stackTraceEntry {
	white-space:		pre;
	font-family:		Courier New, Courier, Monospace;
	display:			block;
	font-size:			8pt;
	padding-left:		32px;
}
.stackTraceButton {
	font-size:			8pt;
	margin:				2px 8px 2px 0;
	font-weight:		normal;
	font-family:		Arial;
}


tr.success {
	background-color:	#afa;
}
tr.ignored {
	background-color:	#f0f0f0;
}
tr.failure {
	background-color:	#ffb0b0;
	color:				#bb5050;
}
tr.error {
	background-color:	#ffb0b0;
	color:				#bb5050;
}


footer {
	text-align:			right;
	margin-top:			40px;
	font-size:			8pt;
	width:				100%;
	color:				#999;
}
footer a {
	font-weight:		bold; 
	text-decoration:	none; 
	color:				#89C;
}
footer .testTime {
	padding-top:		2px;
}

.idea {
	font-size:			9pt;
	color:				#888;
	font-style:			italic;	
}
.commentary {
	float:				right;
	width:				200px;
	background-color:	#ffffd0;
	padding:			8px;
	border:				3px solid #eeeeb0;	 
	margin:				10px 0 10px 10px;	 
}
.commentary, .commentary * {
	font-size:			8pt;
}
